<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p>{{animal.name}} Name</p>
    <p>{{animal.type}} Type</p>
    <p>{{animal.age}} Age</p>
    <p>{{animal.breed}} breed</p>
    <p>{{animal.description}} description</p>
    <p>{{animal.healthy}} healthy</p>
    <p>{{animal.sex.name}} sex</p>

    <select id="time_duration" name="time_duration">
        <option value="{{ time_duration }}">{{ time_duration }}</option>
        {% for time in time_fr %}
        <option value="{{ time }}">{{ time }}</option>
        {% endfor %}
        <p><input type="submit" value="Get free time"/></p>
        <input type="hidden" name="hidden_field" value="value_1">

    </select>
</form>
<form method="post">
    {% csrf_token %}
    <select id="start_time" name="start_time">
        {% for free_time in free_times %}
        <option value="{{ free_time }}">{{ free_time }}</option>
        {% endfor %}
        <p><input type="submit" value="Book free time"/></p>
    <input type="hidden" name="hidden_field" value="book">
    </select>

</form>
</body>
</html>