<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get">
    <label for="animal_type">Choose an animal type:</label>
        <select id="animal_type" name="animal_type">
            <option value="">All animals</option>
            {% for type in types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
    <label for="animal_type">Choose an animal breed:</label>
        <select id="animal_breed" name="animal_breed">
            <option value="">All animals</option>
            {% for breed in breeds %}
                <option value="{{ breed }}">{{ breed }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter">
</form>
{% for animal in animals %}
<h2> <a href="{% url 'animal_detail' animal.id %}"> {{animal.name}} </a></h2>
<p>{{animal.type}} Type</p>
<p>{{animal.age}} Age</p>
<p>{{animal.breed}} breed</p>
<p>{{animal.description}} description</p>
<p>{{animal.healthy}} healthy</p>
<p>{{animal.sex.name}} sex</p>
<p>############################################</p>
{% endfor %}
</body>
</html>